---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import StringDate from "../components/StringDate.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog menu";
---

<BaseLayout pageTitle={pageTitle}>
    <ul>
        {allPosts.map((post) =>
                <li><a href={post.url}>{post.frontmatter.title} -
                    <StringDate date={post.frontmatter.pubDate}/>
                </a></li>)}
    </ul>
</BaseLayout>