---
const listClass = "dark:theme-0 md:inline-block px-5 py-3.5 uppercase font-bold decoration-0 align-middle";
---
<div class="nav-links md:ml-20 md:block md:static md:w-auto md:bg-transparent hidden">
  <a class={listClass} href="/">Home</a>
  <a class={listClass} href="/about">About</a>
  <a class={listClass} href="/blog">Blog</a>
</div>