---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const {pageTitle} = Astro.props;
import SpeedInsights from "@vercel/speed-insights/astro"
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="hreflang" content="es"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{pageTitle}</title>
</head>
<body>
<SpeedInsights/>
<Header/>
<!-- Here will come the code inserted from the pages-->
<div class="mb-10 max-w-[100ch] mx-auto">
    <slot/>
</div>

<Footer/>
</body>
</html>